@import "~normalize.css/normalize.css";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', monospace;
    color: #333;
    background: #abc;
}

.container {
    max-width: 90rem;
    padding: 1rem;
    margin: 0 auto;
}

table {
    background: white;
    width: 100%;
    border-collapse: collapse;

    td, th {
        padding: 0.5rem;
        text-align: left;
        border: thin solid #333;
    }
}

.time-list {
    list-style: none;
    padding: 0;

    li {
        padding: 0.25rem;
        border: thin solid #999;
        margin: 0.25rem;
        background: #eee;
    }
}

.table__movie-title {
    width: 20%;
}

.dialog-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.7);
    overflow: auto;

    z-index: 50;
}

.dialog {
    background: white;
    padding: 1rem;
    max-width: 40rem;
    margin: 5rem auto 0;

    input {
        padding: 0.5rem;
        display: block;
        width: 100%;
    }
}
